<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pappa's Pizza</title>
    <link rel = "icon" href = "images/logo.jpg">
    <link rel="stylesheet" href="styles/pizza-styles.css">
    <script src="pizza.js" defer></script>
</head>
<body>
    <main>
        <header>
            <img src="images/pizza-guy.png" alt="Guy holding pizza">
            <h1>Welcome to Pappa's Pizaa!</h1>
            <h2>Serving GRC students for 50 years!</h2>
            <hr>
            <p>Come see us!</p>
            <a id="contact-button" href="#" role="button">Contact Us</a>
        </header>
         <form id="pizza-form" action="#" method="get">
        <!--Contact info-->
        <fieldset>
            <legend>Contact Info</legend>

            <label for="fname"> First Name:</label>
            <input type="text" id="fname" name="fmane">
            <span class="err" id="err-fname">First name is required</span>
            
            <label for="lname"> Last Name: </label>
            <input type="text" id="lname" name="lmane">
            <span class="err" id="err-lname">Last name is required</span>
            
            <label for="email"> Email: </label>
            <input type="text" id="email" name="eamil">
             <span class="err" id="err-email">Email is required</span>

        </fieldset>
        <!--Pick up or Delivery-->
        <fieldset>
            <legend>Pick Up Or Delivery</legend>
            <label for = "pickup">
                <input type="radio" id="pickup" value="pickup" name="method">Pick up
            </label>
            <label for="dleivery">
                <input type="radio" id="delivery" id="delivery" name="method">Delivery
            </label>
            <span class="err" id="err-method">Select pick up or delivery</span>


        </fieldset>
        <!--Select Toppings field-->
        <fieldset>
            <legend>Select Toppings</legend>
            <label><input type="checkbox" id="pepperoni" name="toppings[]" value="pepperoni">Pepperoni</label>
            <label><input type="checkbox" id="cheese" name="toppings[]" value="cheese">Cheese</label>
            <label><input type="checkbox" id="hawaiian" name="toppings[]" value="hawaiian">Hawaiiann</label>
            <label><input type="checkbox" id="sausage" name="toppings[]" value="sausage">Sausage</label>
            <label><input type="checkbox" id="chicken" name="toppings[]" value="chicken">Chicken</label>
            
        </fieldset>
        <!--Select Pizza size Field-->
        <fieldset>
            <legend>Pizza Size</legend>
            <select id="size" name="size">
                <option value="none">--Select a size--</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
            <span class="err" id="err-size">Size is required</span>
        </fieldset>
        <!--Comment Field-->
        <label for="comment">Comments/Instruction</label>
        <textarea rows="5" id="comment" name="comment"></textarea>
      
       <label for="discount"> <input type="checkbox" id="discount" name="discount" checked>Sign me up for discounts!</label>

        <!--Submit button-->
        <br>
        <button type="submit" id="order-button">Place Order</button>
    </form>
    </main>
   
</body>
</html>