*{
    box-sizing: border-box;
    
}
body {
    margin: 0;
    background-color: darkred;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem
}
header{
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}
header img {
    float: right;
    max-width: 200px;
    
}
#contact-button{
    border: none;
    background-color: darkgreen;
    border-color: black;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
legend{
    color: darkgreen;
    font-variant: small-caps;
    font-size: 1.5rem;
    padding-left: 0 1rem;
}
fieldset{
    border: 1.5px solid lightgreen;
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
}
label{
    display: block;
    padding: .15rem;
}

input[type = "text"], textarea, select{
    width: 100%;
    border: 1px solid black;
    border-radius: .25rem;
    margin-bottom: 1rem;
    padding: .75 rem;
}

.err {
    color: darkred;
    display: none;
}